:root {
/*colores de fondo:*/
--background-barra-nav: #f5f5f5;
--background-boton-login: #FFFFFF;
--background-galeria: #E5E5E5;
--background-contacto: #EAF2FD;
/*colores*/
--color-icono-lupa: #a3a3a3;
--color-textos-link: #2A7AE4;
--color-textos-banner: #FFFFFF;
--color-textos-contacto: #464646;
--color-textos-formulario: #A2A2A2;
--color-texto-btn: #FFFFFF;
/*somras*/
--sombra-textos-banner: 6px 6px 10px rgb(0 0 0 / 30%);
/*borde:*/
--border-color-barra-nav: #f5f5f5;
--border-color-btn-login: #2A7AE4;
/*boton*/
--color-botones-azules: #2A7AE4;
/*fuente texto*/
--Raleway: "Raleway", sans-serif;
}


body{
    font-family: var(--Raleway);
    margin: 0 auto;
    padding: 0 .8;
}