.seccion__todos-los-productos{
    background-color: var(--background-gris-claro);
    padding: 5% 0;
}

.producto__a__seleccionar{
    width: 100%;
    display: flex;
    
}
    .producto__selec-contenido{
        width: 100%;
        display: flex;
        align-items: center;
        padding: 0 5%;
    }
        .producto__selec-contenido--img{
            width: 100%;
           display: flex;
        }
            .producto__selec-img{
                width: 560px;
                height: 403px;
            }
    
        .producto__selec-contenido--descripcion{
            display: flex;
            flex-direction: column;
            width: 100%;
            padding: 0 2%;
            color: var(--color-gris-intenso);
        }
            .producto__selec--titulo{
                font-size: 52px;
                font-weight: 500;
                margin-bottom: 30px;
            }
            .producto__selec--precio{
                font-size: 16px;
                font-weight: 700;
                margin-bottom: 10px;
            }
            .producto__selec--detalle{
                font-size: 16px;
                font-weight: 400;
                line-height: 2;
            }

@media screen and (max-width: 768px) {
                .producto__selec-img{
                    width: 254px;
                    height: 157px;
                }
            .producto__selec-contenido--descripcion{
                width: 100%;
            }
                .producto__selec--titulo{
                    font-size: 22px;
                    margin-bottom: 10px;
                }
                .producto__selec--detalle{
                    font-size: 14px;
                    line-height: 1.2;
                }  
}    

@media screen and (max-width: 480px) {
    
    .producto__selec-contenido{
        display: block;
        padding: 0;
    }
            .producto__selec-img{
                width: 100%;
                height: 250px;
            }
        .producto__selec-contenido--descripcion{
            width: 95%;
            padding: 5%;
        }
            .producto__selec--titulo{
                font-size: 22px;
                margin-bottom: 10px;
            }
            .producto__selec--detalle{
                font-size: 14px;
                line-height: 1.2;
            }     
}