.banner__contenido{
    display: flex;
    background-image: url(../Imagenes/banner-image.png);
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 452px;
}
    .banner__descripcion{
        display: flex;
        flex-direction: column;
        padding-top: 15%;
        padding-left: 5%;
        width: 100%;
    }
        .banner__titulo{
           /* font-family: Georgia, 'Times New Roman', Times, serif;*/
            font-style: italic, cursive;
            font-weight: bold;
            font-size: 4.5vw;
            color: white;
            margin-bottom: 2%;
        }
        .banner__texto{
            /*font-family: Georgia, 'Times New Roman', Times, serif;*/
            font-style: italic, cursive;
            font-size: 2.1vw;
            color: #FFFFFF;
            margin-bottom: 2%;
        }
        .banner__btn--cosolas{
            width: 12%;
            color: #FFFFFF;
            background-color: #2A7AE4;
            font-weight: 400, regular;
            padding: 16px;
            margin-top: 10px;
            border: none;
            font-size: 1.2vw;
        }
        .banner__btn--cosolas:hover{
            cursor: pointer;
        }
