.seccion__agregar-producto{
    padding: 5% 0;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    box-sizing: border-box;
    background-color: var(--background-gris-claro);
}
    .agregar-producto__titulo{/*h2*/
        width: 100%;
        font-size: 32px;
        font-weight: 700;
        margin-bottom: 20px;
    }
/*agregar imagen*/
    .agregar-producto__agregar-imagen-btn{/* 1* div*/
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 10px;
        margin-bottom: 10px;
    }
    .agregar-producto__agregar-imagen-arrastre{
        padding: 2%;
        width: 21vw;
        min-height: 153px;       
        display: flex;
        flex-direction: column;
        align-items: center;
        align-content: center;
        justify-content: center;
        box-sizing: border-box;
        border: 1px dashed var(--color-gris-palido);
        background-color: var(--color-blanco);
    }
    .agregar-producto__agregar-imagen-arrastre.active{
        border: 2px solid var(--color-gris-preto30);
    }

        /* 2* div*/
            .agregar-producto__img-tablet{/*img*/
                width: 32px;
                height: 32px;
                margin-bottom: 15px;
            }
            .agregar-producto__img-movil{/*img*/
                display: none;
            }
            .agregar-producto__texto{/*p*/
                color: var(--color-gris-intenso);
            }
            /*imagen creada en agregar-producto-img.js*/
            .imagen-creada{
                height: auto;
                width: 100%;
        
                object-fit: cover;
                box-sizing: border-box;
            }
            /*cierre 2* div*/
            /* boton agregar */
        .agregar-producto__imagen-letra{/*img*/
            width: 2%;
            height: 12%;
        }
        .agregar-producto__btn--buquedaImagen{/*a*/
            width: 210px;
            height: 19px;
            font-size: 16px;
            font-weight: 400;
            color: var(--color-azul);
            border: 1px solid var(--color-azul);
            padding: 2%;
        }/*cierre 1* div*/

        .agregar-producto__form{

            display: flex;
            flex-direction: column;
        }
                .agregar-producto__form--producto,
                .agregar-producto__form--precio{

                   width: 559px;
                   height: 56px;
                   color: var(--color-gris-palido);
                   font-size: 12px;
                   font-weight: 400;
                   border: none;
                   border-radius: 4px;
                   margin-bottom: 15px;
                   box-sizing: border-box;
                   padding: 0 0 0 2%;
                   box-shadow: var(--sombra-input);
                }
                .agregar-producto__cont-categorias{
                    position: relative;
                }
                .agregar-producto__cont-categorias p{
                    font-size: 20px;
                    margin-bottom: 10px;
                    padding-left: 200px;
                }
                    .selec-cat{
                        border: 0;
                        font-size: 18px;
                        font-weight: 400;
                        color: var(--color-azul);
                        padding: 15px 35px;
                        width: 100%;
                        min-width: 100%;
                        box-sizing: border-box;
                        margin-bottom: 15px;
                        border-radius: 1px;
                        border: 1px solid #aaa;
                        /*box-shadow: 0 1px 0 1px rgba(0,0,0,.03);*/
                        background-color: #fff;

                    }

                .agregar-producto__form--descripcion{

                    width: 559px;
                    height: 82px;
                    resize: none;
                    border-radius: 4px;
                    border: none;
                    box-sizing: border-box;
                    margin-bottom: 15px;
                    padding: 2% 0 0 2%;
                    box-shadow: var(--sombra-input);
                }
                .agregar-producto__form--btn-agregar{
                    width: 559px;
                    height: 51px;
                    font-size: 16px;
                    color: var(--color-blanco);
                    background-color: var(--color-azul);
                    border: none;
                    cursor: pointer;
                }

@media screen and (max-width: 768px) {
    .agregar-producto__agregar-imagen-arrastre{
        width: 40vw;
    }
}

@media screen and (max-width: 480px) {
    .agregar-producto__agregar-imagen-btn{
        flex-direction: column;    
    }
        .agregar-producto__agregar-imagen-arrastre{
            width: 90vw;
        }
        .agregar-producto__imagen-letra{
            width: 7%;
        }
        .agregar-producto__btn--buquedaImagen{
            width: 317px;
            height: 26px;
            font-size: 20px;
        }
    
    .agregar-producto__form--producto{
        width: 334px;
    }
    .agregar-producto__cont-categorias p{
        padding: 0;
    }
    .selec-cat{
        width: 100%;
        min-width: 58%;
    }
    .agregar-producto__form--descripcion{
        width: 340px;
    }
    .agregar-producto__form--btn-agregar{
        width: 334px;
    }
}
