:root {
/*colores de fondo:*/
--bacground-fondo-balnco: #FFFFFF;
--background-gris-claro: #f5f5f5;
--background-azul-pastel: #EAF2FD;
--background-gris-palido: #E5E5E5;
--background-azul: #2A7AE4;
/*colores */
--color-gris-oscuro: #a3a3a3;
--color-gris-preto: #f5f5f5;
--color-azul: #2A7AE4;
--color-blanco: #FFFFFF;
--color-gris-intenso: #464646;
--color-gris-palido: #A2A2A2;
--color-gris-preto30: #C8C8C8;
/*somras*/
--sombra-textos: 6px 6px 10px rgb(0 0 0 / 30%);
--sombra-input: 6px 6px 10px rgb( 0 0 0 /10%);
/*fuente texto*/
--Raleway: "Raleway", sans-serif;
}


body{
    font-family: var(--Raleway);
    margin: 0 auto;
    padding: 0 .8;
}