.seccion__login{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--background-gris-palido);
    padding: 10%;
}
    .login__titulo{
        font-size: 18px;
        font-weight: 700;
        margin-bottom: 3%;
    }
    .login__form{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

        .login__form--correo,
        .login__form--contrasenia{
            background-color: var(--bacground-fondo-balnco);
            color: var(--color-gris-oscuro);
            box-shadow: var(--sombra-input);
            margin-bottom: 20px;
            border: none;
            width: 423px;
            height: 63.13px;
            font-size: 16px;
            font-weight: 400;
            padding-left: 30px;
        }
    /*validacion formulario*/
    .input-form .input-container--invalid{
        border: .1rem solid red;
    }
    .input-message-error{
        display: none;
    }
    .input-message-error{
        color: red;
        display: block;
    }
        .login__form--btn-entrar{
            width: 450px;
            height: 40px;
            background-color: var(--background-azul);
            color: var(--color-blanco);
            font-size: 22px;
            font-weight: 400;
            text-align: center;
            text-decoration: none;
            padding-top: 20px;
        }
        .login__form--btn-entrar{
            cursor: pointer;
        }

@media screen and (max-width: 768px) {
    .login__titulo{
        font-size: 16px;
    }
        .login__form--correo,
        .login__form--contrasenia{
            height: 41px;
            width: 275px;
        }
        .login__form--btn-entrar{
            width: 109px;
            font-size: 18px;
        }
}
