
.banner__contenido{
    display: flex;
    align-items: center;
    background-image: url(../imagenes/banner-image.png);
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 2%;
    width: 100%;
    height: 40vw;
    box-sizing: border-box;
}
    .banner__descripcion{
        display: flex;
        flex-direction: column;
        width: 100%;
        padding: 10% 4% 0 5%;
    }
        .banner__titulo{
            font-size: 52px;
            font-weight: 700;
            color: var(--color-blanco);
            margin-bottom: 2%;
            text-shadow: var(--sombra-textos);
        }
        .banner__texto{
            font-size: 22px;
            font-weight: 700;
            color: var(--color-blanco);
            margin-bottom: 2%;
        }
        .banner__btn--cosolas{
            width: 120px;
            font-size: 16px;
            font-weight: 400; 
            color: var(--color-blanco);
            background-color: var(--color-azul);
            padding: 1.5%;
            margin-top: 10px;
            border: none;
            text-align: center;
            text-decoration: none;         
        }
        .banner__btn--cosolas:hover{
            cursor: pointer;
        }

@media screen and (max-width: 768px) {
    .banner__btn--cosolas{
        width: 15vw;
        font-size: 14px;
        padding: 2%;
    }

}
@media screen and (max-width: 480px){

    .banner__titulo{
        font-size: 6.5vw;
    }
    .banner__texto{
        font-size: 3.1vw;
        text-shadow: var(--sombra-textos);
    }

    .banner__btn--cosolas{
        width: 110px;
        font-size: 15px;
        padding: 8px;
    }

}
