.contenido__error{
    width: 100%;
    display: flex;
    align-items: center;
    padding: 5% 0;
    background-color: var(--background-gris-claro);
}
    .contenido__img-error{
        width: 50%;
        align-items: center;
        margin-right: 180px;
    }
        .img-error{
            width: 70%;
            align-items: center;
        }
    .contenido__texto-error{
        text-align: center;
    }
        .titulo__error{
            font-size: 30px;
            font-weight: 700;
            margin-bottom: 50px;
        }
        .texto__error{
            font-size: 30px;
            line-height: 2;
            margin-bottom: 50px;
        }
        .btn__error{
            padding: 3% 5%;
            font-size: 20px;
            font-weight: 400;
            color: white;
            background-color: var(--color-azul);
            text-decoration: none;
            cursor: pointer;
        }
@media screen and (max-width: 768px){
    .contenido__texto-error{
        margin-right: 30px;
    }
    .texto__error{
        font-size: 24px;
    }
    .img-error{
        margin-left: 40px;
    }
}
@media screen and (max-width: 480px){
    .contenido__error{
        flex-direction: column;
        padding-bottom: 60px;
    }
    .img-error{
        width: 150%;
        margin-bottom: 20%;
    }
}
