.seccion__footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    line-height: 1.5;
    height: 100px;
    font-size: 22px;
    font-weight: 500;
    color: var(--color-gris-intenso);
}
